$search-color:  rgb(2, 173, 2);
$error-color: #c70032;

.task-input {
    display: flex;
    border: 2px solid #666;
    border-radius: 4px;
    &:focus, &:hover {
        border-color: $search-color;
    }
    &>input {
        flex-grow: 1;
        border: 0;
        border-radius: 4px;
        height: 18px;
        padding: 8px 15px;
        &:focus{
            outline: none;
        }
    }
    &>button{
        border: 0;
        border-radius: 4px;
        background: transparent;
        padding-right: 10px;
        font-size: 16px;
        line-height: 16px;
        background-color: #fff;
        &:focus{
            outline: none;
        }
        &:hover{
            cursor: pointer;
        }
    }
    .fa-plus {
        color: $search-color;
    }
}

.show-err {
    .task-input {
        border-color: $error-color;
        &:focus{
            border-color: $error-color;
        }
        .fa-plus {
            color: $error-color;
        }
    }
    .err-text {
        color: $error-color;
    }

}
